@media screen and (min-width:992px){

/* Common shared style */
    body{
        font-family: 'Open Sans', sans-serif;
    }
    .text-prymary{
        color: #FD6E0A;
    }
    .section-titel{
        color: #181818;
        text-align: center;
        font-size: 30px;
        font-weight: 700;
    }
    .section-desctiption{
        color: #757575;
        text-align: center;
        font-size: 15px;

    }
/* Nav related style */
    nav{
        display:flex;
        align-items: center;
        justify-content: space-around;
        margin: 0px 100px;
    }
    .nav-titel{
        color: #181818;
        font-size: 40px;
        font-weight: 800; 
    }
    nav > ul{
        display: flex;
        align-items: center ;
    }
    nav  li{
        list-style: none;
        margin-right: 50px;
    }
    nav a{
        text-decoration: none;
        color: #474747;
    }
    .btn-primary{
        border-radius: 5px;
        background: #FD6E0A;
        border: none;
        padding: 15px 30px;
        color: #fff ;
        font-size:20px;
        font-weight: 700;
    }
/* Header related style */
    .header{
        background-color: #FFF8F3;
        background-image: url('../images/header_bg.png');
        background-repeat: no-repeat;
        background-position: bottom right;
        background-size: 550px;
    }
    .banner{
        padding: 20px 20px 0px 150px;
        display: flex;
        align-items: center;
        justify-content: space-between;

    }
    .banner-content{
        max-width: 500px;
    }
    .banner .profile-pic{
        width: 400px; 
    }
    .banner-greeting{
         font-size: 30px;
         color: #474747;
         margin-bottom: 0px;
    }
    .banner-titel{
        font-size: 50px;
        font-weight: 700;
        margin-top: 5px;
        margin-bottom: 20px;
    }
    .banner-description{
        color: #474747;
        font-size: 15px;
        margin-bottom: 20px;
    }
/* main section styles */
    main{
       max-width: 1040px;
       margin: 0 auto;
    }
/* About section styles */
    .about{
        padding: 100px;
        border-radius: 10px;
        background-color: #FFF8F3;
        margin-top: 130px;
        margin-bottom: 130px;
    }
    .about-info-container{
        display: flex;
        justify-content: space-around;
        text-align: center;
    } 
/* Skill related style */
    .skill-container{
        display: flex;
    }
    .skill{
        padding: 30px;
        margin: 10px;
        background-color: #ffffff;
        box-shadow: 5px 5px 5px rgb(181, 181, 196);
    }
    #what{
        padding: 30px 100px;
    }
/* A summary of my Resume style*/

   








































    
}