/* Common share style */
body{
    font-family: 'Open Sans', sans-serif;
}

.text-primary{
    color:orange;
}
.btn-prymary{
    border-radius: 5px;
    background-color: orange;
    border: none;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    padding: 18px 35px;
}
/* Navigation style */

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-titel{
    
    color:#181818;
    font-style: normal;
    line-height: normal;
    font-size: 45px;
    font-weight: 800;
}
nav > ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-right: 50px;
    
}
nav a{
    text-decoration: none;
    color: #474747;
}
